<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
  <br>
  <strong>Current station:</strong>
  <%= @train.current_station.title %>
  <br>
  <strong>Train route:</strong>
  <%= @train.route %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>