<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= link_to "#{@train.number}", @train%>
  <br>
  <br>
  <strong>Current station:</strong>
  <%= link_to "#{@train.current_station.title}", @train.current_station %>
  <br>
  <br>
  <strong>Train route:</strong>
  <%= link_to "#{@train.route.name}", @train.route %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>