<%= form_with(model: route, local: true) do |form| %>
<%= render 'common/errors', resource: @route %>

  <div class="actions">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <br>
    <br>
    <%= form.submit %>
  </div>
<% end %>
