<p id="notice"><%= notice %></p>

<p>
  <strong>Route:</strong>
  <%= @route.name %>
  <br>
  <strong>Train numbers:</strong>

  <% @trains = [] %>
  <% @route.trains.each do |train| %>
    <% @trains << "#{train.number}" %>
  <% end %>
  <%= p @trains.join(', ')%>

  <br>
  <% @stations = [] %>
  <strong>Route Stations:</strong>
  <% @route.railway_stations.each do |s| %>
    <% @stations << "#{s.title}" %>
  <% end %>
  <%= p @stations.join(' - ') %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
